body{
  background-color:#282c34;
  min-height:100vh;
}
.app{
  padding-top:10rem;
}
.header{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
.logo{
  animation:App-logo-spin infinite 20s linear;
  height:20vmin;
  pointer-events: none;
}
.todo-list{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.todo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-is-completed input{
  text-decoration: line-through;
}
.checkbox{
  width:18px;
  height:18px;
  border-radius:50%;
  margin-right:10px;
  cursor:pointer;
  font-size:10px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:background-color .2s ease-in-out;
  border:1px solid #fff;
}
.checkbox-checked{
  color:#000;
  background:#fff;
}
ul{
  list-style:none;
  padding:0;
  line-height: 2rem;
  width:500px;
}
input{
  border:none;
  background:transparent;
  color:white;
  font-size:1.4rem;
  outline:none;
  /* width:100%; */
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

link{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
h3{
  text-align:center;
  color:#ff9009;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 12%;
  
} */